html{
  background-color: rgb(241 245 249);  
}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #cbcee0; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	color: #000000; /* Color del texto */
	
	transform: translateY(-7px);
}

.btn-flotante-index {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #000000; /* Color del texto */
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
}

.btn-flotante-index:hover {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	color: #000000; /* Color del texto */
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
}