@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html{
  background-color: rgb(241 245 249);  
}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #cbcee0; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	color: #000000; /* Color del texto */
	transform: translateY(-7px);
}

.btn-flotante-index {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #000000; /* Color del texto */
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
}

.btn-flotante-index:hover {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	color: #000000; /* Color del texto */
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
}

 /* Carrousel Resources*/

:root {
    --accent: #d3dfcb;
    --accent-hover: #80e142;
    --accent-active: #65cf21;
    --control: #163300;  
    --secondary: #ECEFEB; 
    --secondary-hover: #E0E4DE;
    --secondary-active: #6c6c6b; 
    --content-primary: #0e0f0c;

}

#web-platforms {
    padding: 16px;
    display: flex;
    /* height: 100vh; */
    min-width: 320px;
    color: var(--content-primary);
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

.action-buttons {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    scroll-snap-align: start;
    width: 100%;
    flex-wrap: wrap;
    z-index: 0;
}

.flag {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    height: 48px;
    min-width: 48px;
    width: 48px;
    border: 1px solid var(--secondary-hover);
}

.action-button {
    color: #163300;
    border-radius: 16px;
    height: 32px;
    gap: 4px;
    cursor: pointer;
    display: flex;
    padding: 0 12px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    background-color: var(--secondary);   
}


.action-button--primary:active {
    background-color: var(--accent-active);
}

.action-button:active {
    background-color: var(--secondary-active);
}

.action-button--horizontal-scroll {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    background-color: var(--accent);
}

@media screen and (max-width: 768px) {
    .action-button--horizontal-scroll {
        display: none;
    }
}

.action-button--horizontal-scroll:hover {
    background-color: var(--accent-hover);
}

.action-button--horizontal-scroll:active {
    background-color: var(--accent-active);
}

.action-button--horizontal-scroll:disabled {
    cursor: not-allowed;
    background-color: var(--secondary);
}

.action-button--horizontal-scroll:disabled:hover {
    background-color: var(--secondary);
}

.action-button--horizontal-scroll:disabled:active {
    background-color: var(--secondary);
}

#action-button--previous {
    margin-left: auto;
    transform: rotate(-90deg);
}

#action-button--next {
    transform: rotate(90deg);
}

.action-button:hover {
    background-color: var(--secondary-hover);
}

.action-button--primary {
    background-color: var(--accent);
}

.action-button--primary:hover {
    background-color: var(--accent-hover);
}

.action-button--primary:active {
    background-color: var(--accent-active);
}

#bank-accounts {
    display: flex;
    gap: 16px;
    padding: 16px 0px;
    width: 100%;
    flex-direction: row;
    overflow: auto;
}


.bank-account {
    appearance: none;
    text-decoration: none;
    position: static; /*relative by default*/
    background: var(--secondary);
    padding: 16px;
    border-radius: 16px;
    height: 208px;
    transition: all 0.2s ease-in-out;
    width: 208px;
    display: flex;
    flex: 0 0 208px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;
}

.bank-account h2 {
    color: var(--content-primary);
    font-size: 1.375rem;
    letter-spacing: normal;
    overflow-wrap: normal;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.25rem;
}

.bank-account .currency {
    color: var(--content-primary);
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: -.006em;
    line-height: 133%;
}

.bank-account:hover {
    background: var(--secondary-hover);
}

.container {
    max-width: 800px;
    width: 100%;
    min-width: 300px;
    margin: 120px auto;
}

/* CAREER HUB PAGE */


.btn-flotante-career {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-flotante-career:hover {
	background-color: #cbcee0; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	color: #000000; /* Color del texto */
	transform: translateY(-7px);
}

/* Carrousel Artificial Intelligence */

#artificial-intelligence {
    display: flex;
    gap: 16px;
    padding: 16px 0px;
    width: 100%;
    flex-direction: row;
    overflow: auto;
}

#action-button--previousAI {
    margin-left: auto;
    transform: rotate(-90deg);
}

#action-button--nextAI {
    transform: rotate(90deg);
}

/* Carrousel Job Portals */

#job-portals {
    display: flex;
    gap: 16px;
    padding: 16px 0px;
    width: 100%;
    flex-direction: row;
    overflow: auto;
}

#action-button--previousJP {
    margin-left: auto;
    transform: rotate(-90deg);
}

#action-button--nextJP {
    transform: rotate(90deg);
}

/* Carrousel English */

#english {
    display: flex;
    gap: 16px;
    padding: 16px 0px;
    width: 100%;
    flex-direction: row;
    overflow: auto;
}

#action-button--previousENG {
    margin-left: auto;
    transform: rotate(-90deg);
}

#action-button--nextENG {
    transform: rotate(90deg);
}

/* Carrousel Graphic Design */

#graphic-design {
    display: flex;
    gap: 16px;
    padding: 16px 0px;
    width: 100%;
    flex-direction: row;
    overflow: auto;
}

#action-button--previousGRA {
    margin-left: auto;
    transform: rotate(-90deg);
}

#action-button--nextGRA {
    transform: rotate(90deg);
}

/* Register form */

#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    border: black;
    border-width: 10px;
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.toast img {
    margin: 0% 2%;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: orange;
    animation: anim 5s linear forwards;
    border-bottom-left-radius: 80px 80px;
}

@keyframes anim {
    100%{
        width: 0;
    }
}